body {
    background-image: url('../images/background.jpeg');
    margin: 0;
    padding: 0;
}

.container {
    width: 70%;
    margin: 0 auto;
    clear: both;
    overflow: auto;
    margin-top: 50px;   
}

.myname {
    position: absolute;
    bottom: 0;
    left: 15%;
    color: white;
    background-color: #4aaaa5;
    width: 200px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
}

.linkdiv{
    position: absolute;
    right: 15%;

}
.links {
    color: grey;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: small;
    text-decoration: none;
    word-spacing: 20px;
}

img {
    width: 130px;
    height: 170px;
    float: left;
    margin-right: 20px;
}
.header {
    position: relative;
    background-color: white;
    padding: 50px;
}

.div2 {
    clear: both;
    background-color: white;
    color: grey;
    padding: 20px 20px 20px 20px;
    margin-top: 20px;
}

p { 
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1.6;
}

.aboutme {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-size: x-large;
}

.footer {
    background-color: #666666;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: x-small;
    text-align: center;
    padding: 40px 20px 7px 20px;
    color: white;
    margin-bottom: 0%;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    border-top: 10px solid #4aaaa5;
}